.headerCon{
    background-color: white;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:193px;
    justify-content: space-evenly;
}
.headerLinks{
    position: relative;
    color:rgb(0, 0, 0);
}

.headerLinksCon{
    width: 100%;
    display:flex;
    flex-direction: row;
    gap: 8%;
    justify-content: center;
    align-items: center;
  
}

.dropDownDiv  {
    display: none;
}


.headerLinks:hover > .dropDownDiv {
    color: black;
    padding: 20px;
    display: flex;
    width: 180px;
    position: absolute;
    flex-direction: column;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
    z-index: 999;
}

.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}