.centerContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.imgMainContainer {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.container {
    display: flex;
    gap: 30px;
    width: 60%;
    margin: 50px;
}

.productInfoDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productSelectDiv {
    display: flex;
    height: 50px;
}